  <p>Sommeren 2009 tilbringes i Silicon Valley, som student ved <a href="http://grunderskolen.no">Gründerskolen</a>. Jeg jobber i <a href="http://getsatisfaction.com">Get Satisfaction</a> og studerer ved <a href="http://berkeley.edu/">UC Berkeley</a>. Her skriver jeg om det som skjer, og mine tanker rundt det.</p>

  <ul>
  <% @posts.each do |post| %>
    <li><a href="/post/<%=post.slug%>"><%=post.title%></a> <small>(<%=post.date.reverse.join(".")%>)</small></li>
  <% end %>
  </ul>
  
  <hr>

  <p>Dersom du ønsker å ta kontakt, kan jeg alltid nåes via <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#097;&#105;&#108;&#064;&#107;&#105;&#109;&#106;&#111;&#097;&#114;&#046;&#110;&#101;&#116;">&#109;&#097;&#105;&#108;&#064;&#107;&#105;&#109;&#106;&#111;&#097;&#114;&#046;&#110;&#101;&#116;</a>. Oppdateringer kan følges via <a href="/rss">RSS</a>. Mer informasjon om meg finnes på <a href="http://kimjoar.net">Kimjoar.net</a>.</p>