  <p>Jeg skal til San Francisco med Gründerskolen sommeren 2009, og kommer til å bruke denne siden til å samle tankene om turen.</p>

  <ul>
  <% @posts.each do |post| %>
    <li><a href="/post/<%=post["basename"]%>"><%=post["heading"]%></a> <small>(<%=post["date"].reverse.join(".")%>)</small></li>
  <% end %>
  </ul>

  <p>Dersom du ønsker å ta kontakt, kan jeg alltid nåes via <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#097;&#105;&#108;&#064;&#107;&#105;&#109;&#106;&#111;&#097;&#114;&#046;&#110;&#101;&#116;">&#109;&#097;&#105;&#108;&#064;&#107;&#105;&#109;&#106;&#111;&#097;&#114;&#046;&#110;&#101;&#116;</a>.</p>