  <p>Sommeren 2009 skal jeg tilbringe i Silicon Valley, som student ved <a href="http://grunderskolen.no">Gründerskolen</a>. Jeg skal jobbe i en oppstartsbedrift og studere ved <a href="http://berkeley.edu/">UC Berkeley</a>. Her kommer jeg til å skrive om det som skjer, og mine tanker rundt det.</p>

  <ul>
  <% @posts.each do |post| %>
    <li><a href="/post/<%=post.slug%>"><%=post.title%></a> <small>(<%=post.date.reverse.join(".")%>)</small></li>
  <% end %>
  </ul>

  <p>Dersom du ønsker å ta kontakt, kan jeg alltid nåes via <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#097;&#105;&#108;&#064;&#107;&#105;&#109;&#106;&#111;&#097;&#114;&#046;&#110;&#101;&#116;">&#109;&#097;&#105;&#108;&#064;&#107;&#105;&#109;&#106;&#111;&#097;&#114;&#046;&#110;&#101;&#116;</a>. Oppdateringer kan følges via <a href="/rss">RSS</a>.</p>