<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Kim Joar Bekkelund - Gründerskolen San Francisco 2009</title>
  <link rel="stylesheet" href="http://kimjoar.net/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="http://kimjoar.net/css/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="http://kimjoar.net/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="http://kimjoar.net/css/gs.css" type="text/css" media="screen, projection">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
</head>
<body>

<div class="container">
  <h1><a href="http://gs.kimjoar.net">Kim Joar Bekkelund - Gründerskolen San Francisco 2009</a></h1>
  <%= yield %>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2402967-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>